App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Optional generated iOS image assets (can be regenerated locally)
App/App/Assets.xcassets/AppIcon.appiconset/*.png
App/App/Assets.xcassets/Splash.imageset/*.png
